.about-file-img{
    background-image :
    linear-gradient(to bottom, rgb(0, 168, 143),rgba(255, 255, 255, 0)),
    url('./Assets/Images/group-business.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.about-file-img h1{
    font-weight: 600;
    font-size: 2.5rem;
    margin-top: 10%;
}

.about-file-row p{
    text-align: justify;
}

.about-vision-row{
    display: flex;
    justify-content: space-between;
}

.about-flie-col{
    display: flex;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    width: 48% !important;
    padding: 30px 20px !important;
}

  
.about-flie-col:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

.about-file-target{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4%;
}