/* .career-row{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00A88F; 
    height: 20vh;
    color: #FFF;
} */
/* 
hr.rounded {
    border-top: 8px solid #ebbc39;
    border-radius: 0px;
    opacity: 1;
  } */

.join-container{
    /* background-image :
    linear-gradient(to bottom, rgb(0, 168, 143),rgba(255, 255, 255, 0.67)),
    url('./Assets/Images/executives-joking-laughing-office\ \(1\).jpg'); */
    background-image: url(./Assets/Images/executives-joking-laughing-office\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0px !important;
    margin-bottom: 3%;
}

.overlay{
    background-color: rgba(0, 168, 143, 0.521);
    width: 100%;
    height: 70vh;
    background: linear-gradient(45deg, hsla(var(--baseColor2), 1) 0%, hsla(var(--baseColor3), 1) 41.38%, hsla(var(--baseColor1), 1) 90.15%, hsla(var(--baseColor1), 1) 100%);
    --baseColor1: 344, 100%, 59%;
    --baseColor2: 252, 51%, 34%;
    --baseColor3: 302, 81%, 36%;
    --baseColor4: 253, 17%, 53%;
    --baseColor5: 254, 20%, 83%;
    --baseColor6: 253, 37%, 91%;
    --baseColor7: 257, 37%, 96%;
    --white: 0, 0%, 100%;
    --black: 180, 4%, 5%;
    opacity: 85%;
}


.overlay .text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-cover-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.career-row{
    
}

.hr-heading{
    background: linear-gradient(45deg, hsla(var(--baseColor2), 1) 0%, hsla(var(--baseColor3), 1) 41.38%, hsla(var(--baseColor1), 1) 90.15%, hsla(var(--baseColor1), 1) 100%);
    --baseColor1: 344, 100%, 59%;
    --baseColor2: 252, 51%, 34%;
    --baseColor3: 302, 81%, 36%;
    --baseColor4: 253, 17%, 53%;
    --baseColor5: 254, 20%, 83%;
    --baseColor6: 253, 37%, 91%;
    --baseColor7: 257, 37%, 96%;
    --white: 0, 0%, 100%;
    --black: 180, 4%, 5%;  
    -webkit-background-clip: text ;
    -webkit-text-fill-color: transparent;
}

.career-container{
    margin-bottom: 1%;
}

.accordion-button{
    /* background: linear-gradient(45deg, hsla(var(--baseColor2), 1) 0%, hsla(var(--baseColor3), 1) 41.38%, hsla(var(--baseColor1), 1) 90.15%, hsla(var(--baseColor1), 1) 100%) !important;
    --baseColor1: 344, 100%, 59%;
    --baseColor2: 252, 51%, 34%;
    --baseColor3: 302, 81%, 36%;
    --baseColor4: 253, 17%, 53%;
    --baseColor5: 254, 20%, 83%;
    --baseColor6: 253, 37%, 91%;
    --baseColor7: 257, 37%, 96%;
    --white: 0, 0%, 100%;
    --black: 180, 4%, 5%;
    opacity: 90%; */
    background: #fff !important;
}

/* .join-img img{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
} */
/* 
.join-content{
    color: #fff;
    text-align: justify;
} */

.form-button{
    background-color: #fff !important;
    color: #00A88F!important;
}

.form-button:hover{
    background-color: #ebbc39 !important;
    color: black !important;
}

.career-form{
    /* background-color: #00a88fd3; */
    border: 1px solid rgba(128, 128, 128, 0.301);
    border-radius: 30px;
}

.career-form:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.career-form input{
    border-radius: 20px;
    
}

.form-colum input[type=text]{
    background-color: hsla(var(--baseColor7), 1) !important;
}

.career-form input:focus{
    outline: none;
}

.career-form input:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.career-form select{
    border-radius: 20px;
}

.career-form select:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.attachment:hover{
    box-shadow: none !important;
}

.accordion-button:focus {
    box-shadow: none !important;

}

.accordion-item{
    border-radius: 20px !important; 
    overflow: hidden;
}

.submit-btn{
    background-color: #ff3067 !important;
}

.footer{
    background: linear-gradient(45deg, hsla(var(--baseColor2), 1) 0%, hsla(var(--baseColor3), 1) 41.38%, hsla(var(--baseColor1), 1) 90.15%, hsla(var(--baseColor1), 1) 100%) !important;
    --baseColor1: 344, 100%, 59%;
    --baseColor2: 252, 51%, 34%;
    --baseColor3: 302, 81%, 36%;
    --baseColor4: 253, 17%, 53%;
    --baseColor5: 254, 20%, 83%;
    --baseColor6: 253, 37%, 91%;
    --baseColor7: 257, 37%, 96%;
    --white: 0, 0%, 100%;
    --black: 180, 4%, 5%;
}

@media screen and (max-width: 543px){
    .career-container{
        margin-top: 8vh;
    }
    .hr-heading{
        font-size: 16px;
    }
}

@media screen and (max-width:1030px){
    .career-container{
        margin-top: 7% !important;
    }
}

@media screen and (max-width:992px){
    .career-container{
        margin-top: 7% !important;
    }
}
