.contact-cover-text{
    height: 60%;
    width: 50vw;
    display: flex;
    justify-content: center ;
    align-items: center ;
    flex-direction: column;
    color: #fff;
}

/* .form-container{
    margin-top: -150px;
}

.form-row{
    border-radius: 30px;
    background-color: #fff;
}

.form-content-column{
    background-color: #00A88F !important;
    border-radius: 25px;
    color: #fff !important;
    padding: 5px;
    
}

.contact-detail{
    display: flex;
    align-items: center;
}

.contact-icon{
    font-size: 21px;
    margin-right: 15px;
}

.form-text-area{
    border: 0px 0px 1px 0px !important;
    border-color: grey;
}

.form-text-area input{
    border-top: none;
    border-left: none;
    border-right:none ;
}*/

.form-container{
    margin-top: -150px;
}

.input-container{
    background-color: #fff;
    width: 100%;
    height: auto;
    padding: 5% 5%;
    border: 1px solid gray;
    border-radius: 30px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.textarea-div input{
    width: 100%;
    margin-bottom: 2%;
    border: 0.5px solid gray;
    border-radius: 20px;
    padding: 8px 16px !important;
}

.textarea-div input::placeholder{
    color: gray;
    font-size: 15px;
}

.textarea-div input:focus{
    outline: none;
    border: 2px solid gray;
}

.textarea-div select{
    width: 100%;
    margin-bottom: 2%;
    border: 0.5px solid gray;
    border-radius: 20px;
    padding: 8px 16px !important;
}

.textarea-div select::placeholder{
    color: gray;
    font-size: 15px;
}

.textarea-div select:focus{
    outline: none;
    border: 2px solid gray;
}

.textarea-div textarea{
    width: 100%;
    border: 0.5px solid gray;
    border-radius: 5px;
    padding: 8px 16px !important;
}

.textarea-div textarea::placeholder{
    color: gray;
    font-size: 15px!important;
}

.textarea-div textarea:focus{
    outline: none;
    border: 2px solid gray;
}

.radio{
    display: flex;
    flex-direction: column;
}

.radio-div{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.input-container p{
    font-size: 15px;
}

.g-recaptcha{
    margin-top: 3%;
}

.contact-us-btn{
    color: #fff !important;
    margin-top: 4%;
    padding: 5px 15px !important;
}

.contact-us-btn:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
} 

.rating-img{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.rating-img img{
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
     max-width: 100px;
     height: auto;
}

.contact-detail{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-detail-div{
    padding-left: 5%;
}

.contact-icon{
    font-size: 23px;
    margin-right: 15px;
}

.cont-heading{
    display: flex;
    flex-direction: column;
}

.cont-heading h5{
    font-size: 16px;
    font-weight: bold;
}
