*{
    margin: 0px;
    padding: 0px;
}
.industry-img{
    height: 70vh;
    width: 100%;
    object-fit: cover;
    background-image :
    linear-gradient(to bottom, rgb(0, 168, 143),rgba(255, 255, 255, 0.67)),
    url('./Assets/Images/attractive-asian-female-marketing-employee-remote-working-coffee-shop-using-portable-tablet-touchpad_49553-1848.jpg');
    background-repeat: no-repeat;
    background-size: 100% 70vh;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.remote-future-row{
    /* background-color: #F4F7FA; */
    text-align: justify;
}

.resorces-row{
    max-width: 100%;
}

.resorces-row .col-12{
    margin-top: -75px !important;
}

.resorce-card-wrapper{
    display: flex;
}

.resorce-card{
    margin: 0 .5em;
    width: calc(100%/6);
    height: auto;
    padding-bottom: 2%;
}

.resorce-img-wrapper{
    height: 15vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resorce-img-wrapper img{
    width: auto;
    max-height: 10vh;
}

.carousel-control-prev{
    display: flex;
    width: 4% !important;
}

.carousel-control-next{
    display: flex;
    width: 4% !important;
}

.remote-future-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.remote-future-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.remote-future-img img{
    height: auto;
    width: auto;
}

.hiring-container{
    background-color  :#F4F7FA;
    /* height: 50vh; */
}

.hiring-row{
    flex-wrap: wrap !important;
    padding: 5%;
}

.hiring-box-first-row{
    height: 48%;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap !important;
}   

.hiring-box-second-row{
    height: 48%;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap !important;
}


.box{
    background-color: #00a88fe5 !important;
    color: #fff !important;
    height: 100%;
    width: 100%;
    border: 2px solid #00A88F;
    display: flex;
    flex-direction: row !important;
    font-size: 14px !important;
}

.box:hover h3{
    color: #ebbb39;
}

.box-inner{
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-inner h5{
    font-size: 18px;
}

.box-1{
    border-radius: 10px 42px 10px 42px;
}
.box-2{
    border-radius: 42px 10px 42px 10px;
}

.hiring-containt{
    display: flex;
    flex-direction: column;
}

.Why-Its img{
    height: 90% !important;
    width: auto !important;
}

@media screen and (max-width: 995px) {
    .hiring-box-first-row{
         width: 100% !important;
    }   
    .hiring-box-second-row{
        width: 100% !important;
    }
    .hiring-row{
        padding: 0px;
    }
    .resorce-card{
        margin: 0 .5em;
        width: calc(100%/3);
    }
    .resorce-img-wrapper img{
        max-width: 95%;
        height: auto;
    }
    .resorce-img-wrapper{
        height: auto;
        padding-top: 2%;
        padding-bottom: 2%;
    }
}


.award-img{
    width: 100%;
    height: auto;
}

.award-row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.input-container{
    background-color: #fff;
    width: 50% !important;
    height: auto;
    padding: 5% 5%;
    border: 1px solid gray;
    border-radius: 30px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.textarea-div input{
    width: 100%;
    margin-bottom: 2%;
    border: 0.5px solid gray;
    border-radius: 20px;
    padding: 8px 16px !important;
}

.textarea-div input::placeholder{
    color: gray;
    font-size: 15px;
}

.textarea-div input:focus{
    outline: none;
    border: 2px solid gray;
}

.textarea-div select{
    width: 100%;
    margin-bottom: 2%;
    border: 0.5px solid gray;
    border-radius: 20px;
    padding: 8px 16px !important;
}

.textarea-div select::placeholder{
    color: gray;
    font-size: 15px;
}

.textarea-div select:focus{
    outline: none;
    border: 2px solid gray;
}

.textarea-div textarea{
    width: 100%;
    border: 0.5px solid gray;
    border-radius: 5px;
    padding: 8px 16px !important;
}

.textarea-div textarea::placeholder{
    color: gray;
    font-size: 15px!important;
}

.textarea-div textarea:focus{
    outline: none;
    border: 2px solid gray;
}

.radio{
    display: flex;
    flex-direction: column;
}

.radio-div{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.input-container p{
    font-size: 15px;
}

.g-recaptcha{
    margin-top: 3%;
}

.contact-us-btn{
    color: #fff !important;
    margin-top: 4%;
    padding: 5px 15px !important;
}

.contact-us-btn:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
} 

.awards-row{
    background-color  :#F4F7FA;
    width: 100%;
}