*{
    margin    : 0px;
    padding   : 0px;
    box-sizing: border-box;
}

.hero{
    height    : 100vh;
    width     : 100%;
    background: linear-gradient(#00A88F, #FFFFFF);
}

.navbar{
    padding   : 0px 6%;
}

.nav-item a{
    margin      : 0px 16px;
    color       : black !important;
    font-weight : bold;
}

.nav-item a:hover{
    color       : #00A88F !important;
}

.navbar-brand img{
    margin-left : 2%;
    height      : 50px;
    width       : 170px;
}

.navigation{
    background-color : #fff;
    padding-bottom   : 1px;
    margin-top: 6%;
}

.navigation ul{
    display          : flex;
    list-style       : none;
    justify-content  : flex-end;
    margin-right     : 15%;
    margin-bottom    : 5px;
}

.navigation-list li a{
    text-decoration  : none;
    margin-left      : 38px;
    color            : black;
}

.navigation-list li a:hover{
    color: #00A88F;
}

.navigation-list li a i{
    color            : #00A88F;
    margin-left      : 5px;
}

.small-screen-nav{
    display: none;
}

.cover-image{
    position         : relative;
    display          : flex;
    height           : 85vh;
    width            : 75%;
    align-items      : center;
    justify-content  : flex-end;
    margin           : auto;

}

.inner-image{
    background-image :
    linear-gradient(to bottom, rgba(0, 168, 143, 0.67),rgba(0, 42, 83, 0.67)),
    url('./Assets/Images/Vector_2640\ .png');
    height           : 72vh;
    width            : 62vw;
    border-radius    : 30px;
    background-size  : cover;
    padding-left     : 55px;
    display          : flex;
    justify-content  : center;
    align-items      : center;
    flex-direction   : column;
} 

.inner-image h1{
    color            : #fff;
    margin-left      : 22%;
}

.inner-image button{
    align-self       : center;
    margin-left      : -19%;
    margin-top       : 20px;
}

.outer-img img{
    height           : 62vh;
    width            : 35vw;
    border-radius    : 30px;
    background-size  : cover; 
    z-index          : 2;
    position         : absolute;
    top              : 13%;
    left             : 0;
    box-shadow       : 1px 1px 3px 1px rgb(255 255 255 / 40%) ;
}

.heading{
    margin-left      : 8%;
    margin-bottom    : 0px;
}

.service-card{
    height           : 200px;
    width            : 100%;
    border           : 1px solid black;
}

.service-card:hover{
    border           : 2px solid #00A88F;
    margin-top       : -15px;
    transition       : 0.5s;
}

.service-card-img img{
    height           : 100px;
    width            : 100px;
}
.second img{
    height           : 80px;
    width            : 80px;
}

.service-card .video img{
    height            : 80px;
    width             : 80px;
}
.wing img{
    height            : 100px;
    width             : 130px;
}

.show-more{
    background-color  : #00A88F !important;
    display           : block;
    border-radius     : 30px !important;
    color             : #fff !important;
    margin            : auto !important;
}

.achievements{
    background-color  :#F4F7FA;
}

.achievements-box{
    width             : 100%;
    display           : flex;
    align-items       : center;
    background-color  :#F4F7FA;
}

.achievements-box div{
    background-color  : #fff;
    color             : #00A88F;
    padding           : 3px;
    margin            : 2px;
    height            : 50% !important;
    width             : 50% !important;
    border-radius     : 30px;
    display           : flex;
    justify-content   : center;
    align-items       : center;
    flex-direction    : column;
}

.achievements-box div:hover{
    border             : 1px solid #00A88F;
}

.col .team{
    height            : 50px;
    width             : 80px;
}

.col h5{
    margin-bottom     : 0px;

}

.col .client{
    height            : 50px;
    width             : 50px;
}

.blog p{
    text-align        : justify !important;
}

.testomonial{
    height            : 30vh;
}

.logo .col img{
    height            : 65px;
    width             : 65px;
    opacity           : 0.5;
}

.logo .col img:hover{
    opacity           : 1;
}

.about-us{
    display           : flex;
    justify-content   : end;
    width             : 100%;
    overflow-y        : hidden;
}
.about{
    background        : linear-gradient(360deg, rgba(0,168,143,0.9) 100%, rgba(0,84,166,0.5) 100%);
    border-radius     : 0px 0px 0px 200px;
    margin-right      : 0px;
    width             : 95% !important;
    border-left       : 12px solid #0054A6;
    overflow-y        : hidden;
}


.about-container{
    display           : flex;
    align-items       : center;
    justify-content   : center;
    padding           : 0px;
    overflow        : hidden;
}

.about .para-col{
    margin-left       : 5% !important;
    color             : #fff;
    padding           : 15px;
    font-size         : large;
    text-align        : justify;
}

.about .para-col h3{
    font-weight       : 600;
}

.about .para-col ul{
    list-style-type   : none;
    padding-left      : 0px;
}

.about .para-col .btn{
    margin-left       : 15%;
}

.about .image-col{
    padding           : 0px;
}

.about .image-col img{
    height            : 95%;
    width             : 95%;
    border-radius     : 30px;
    border            : 2px solid #fff;
}

.FAQ img{
    max-height        : 100%;
    max-width         : 100%;
}

.accordion{
    border-radius     : 30px !important;
}

.accordion-button{
    background        : linear-gradient(#00a88f34, #FFFFFF) !important;
    color             : black !important;
    font-weight       : 500;
}

.Why{
}

.Why-image img{
    height            : 100%;
    width             : 100%;
    border-radius     : 30px;
}

.Why-row{
    display           : flex;
    justify-content   : baseline;
}

.Why-row .Why-content{
    border-radius     : 30px;
    height            : 100%;
    max-width         : 100%;
}

.testomonial-section{
    background-image: url(./Assets/Images/Intersection\ 1.svg);
    background-position: top;
    background-size    : cover;
    background-repeat  : no-repeat;
    object-position    : top !important;
    object-fit         : cover;
    height             : 80vh;
    width              : 100% !important;
    position           : absolute;
    z-index            : -1;
}

.testomonial{
    width              : 100%;
}

.testomonial-row{
    height             : 80vh;
    width              : 100%;
}

.testomonial-content{
    color              : #fff;
flex-direction         : column;

}

.testomonial-content{
    font-size          : 20px;
    padding            : 10px;
}

.testomonial-content h1{
    text-shadow        : 2px 2px #00A88F; 
}

.testomonial-content p{
    text-shadow        : 2px 2px #00A88F; 
}

.testomonial-review{
    width              : 90%;
    display            : flex;
    padding-left       : 5px;
    justify-content    : center;
    align-items        : center;
}

.card-wrapper{
    display            : flex;
}

.testo-card{
    margin             : 0 .5em;
    width              : calc(95%/2);
    border-radius      : 30px!important;
}

.img-wrapper{
    height             : 12vw;
    display            : flex;
    justify-content    : center;
    align-items        : center;
}

.img-wrapper img{
    max-height         : 50%;
    max-width          : 50%;
    border-radius      : 50%;
}
.card-para{
    text-align         : justify !important;
}

.card-quote{
    padding            : 0px 30px;
}

.card-name{
    margin             : 25px 0px;
}

@media screen and (max-width: 542px) {
    .card-quote {
      padding-left     : 0px !important;
      padding-right    : 0px !important;
    }
    .card-name{
        margin         : 2px 0px;
    }
    .card-para{
        font-size      : small;
    }
    .navigation{
        display        : none;
    }
    .small-screen-nav{
        display        : flex;
    }
    .big-screen-nav{
        display        : none;
    }
  }

  @media screen and (max-width: 1150px) {
    .navigation{
        margin-top     : 10%;
    }
  }


  @media screen and (max-width: 1025px) {
    .navigation{
        margin-top     : 8%;
    }
  }


  @media screen and (max-width: 920px) {
    .navigation{
        margin-top       : 9%;
    }
    .navigation ul{
        display          : flex;
        list-style       : none;
        justify-content  : space-around;
        margin-bottom    : 5px;
    }
  }